@model Syte.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Детали книги</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Название</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Автор</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Surname)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Описание</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Жанр</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">URL ссылка на обложку</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            <label class="control-label">Любимая книга</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFavourite)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Издательство</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Подборка</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compilation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Отредактировать</a> |
    <a asp-action="Index">Вернуться к библиотеке книг</a>
</div>
