@model Syte.Models.Book


@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<div class="col-lg-4">
    <img class="img-thumbnail" src="@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.Name)" />
    @*<input type="button" value="Добавить отзыв" onClick='location.href="https://localhost:44352/Reviews/Create"' />*@
    <a asp-controller="Reviews"  asp-action="Create" asp-route-id="@Model.Id">Добавить отзыв</a>
</div>
<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Название</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Автор</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Surname)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Описание</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Жанр</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Издательство</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Подборка</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compilation.Name)
        </dd>


    </dl>
</div>
<div>

    <a asp-action="List">Вернуться к библиотеке книг</a>
</div>
